body {
  width: 100%;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 1s;
}

nav {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.418);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  backdrop-filter: blur(10px);
}

a :hover {
  transition: 0.3s;
  color: rgb(184, 184, 184);
}

.ting {
  width: 100%;
  display: flex;
  justify-content: center;
}

.mainContainer {
  display: flex;
  background-color: rgba(55, 73, 112, 0.74);
  backdrop-filter: blur(10px);
  height: 100vh;
  color: white;
  width: 100%;
}

.postContainer {
  background-color: rgba(55, 73, 112, 0.74);
  backdrop-filter: blur(10px);
  color: white;
  width: 100%;

  p {
    margin-left: 15%;
    margin-right: 15%;
    font-size: 1.2em;
  }

  h1 {
    text-align: center;
  }

  h2 {
    text-align: center;
  }
}

.alignCenter
{
  text-align: center;
  font-size: 1.2em;
}

.wrapper {
  width: 90%;
  max-width: 1200px;
  border-left: 7px solid rgb(4, 18, 36);
  border-right: 7px solid rgb(4, 18, 36);
  display: flex;
  flex-direction: column;
}

.rowContainer {
  width: 80%;
  display: flex;
  gap: 5em;
  margin-right: 8%;
  margin-left: 3%;

  a {
    color: white;
    cursor: pointer;
    flex-grow: 1;
  }
}

.container {
  display: grid;
  grid-template-columns: 25% 1fr 1fr 20%;
  grid-template-rows: 14% 1fr 1fr;
  gap: 2em 0px;
  width: 100%;
  grid-template-areas:
    "Side info info List"
    "Side first first List"
    "Side rec wd List";
}

.lastestPost {
  border-radius: 10px;
  border: 5px solid rgba(12, 16, 26, 0.74);
  justify-self: center;
  background-color: rgb(27, 41, 78);
  width: 95%;
  text-align: center;
  padding-top: 2px;
  padding-bottom: 4em;

  p {
    margin-left: 5em;
    margin-right: 5em;
    font-size: 1.2em;
  }
}

.Side {
  background-color: rgb(27, 41, 78);
  grid-area: Side;
  border-right: 4px solid rgb(4, 18, 36);
  display: flex;
  flex-direction: column;

  li {
    margin-bottom: 0.5em;
  }

  h2,
  h3 {
    margin-left: 1em;
  }
}
.info {
  grid-area: info;
  text-align: center;
}
.first {
  justify-self: center;
  grid-area: first;
}

.rec {
  grid-area: rec;
  justify-self: center;
  text-align: center;
  align-self: stretch;

  ul {
    font-size: 1.1em;
    text-align: justify;
    list-style-type: none;
  }
}

.wd {
  justify-self: center;
  grid-area: wd;
  text-align: center;

  ul {
    font-size: 1.1em;
    text-align: justify;
    list-style-type: none;
  }
}

.List {
  display: flex;
  grid-area: List;
  flex-direction: column;
  border-left: 4px solid rgb(4, 18, 36);
  align-items: center;
}

.postCard {
  padding: 10px;
  width: 80%;
  display: block;
  background-color: rgb(27, 41, 78);
  border: 4px solid rgb(4, 18, 36);
  border-radius: 1em;
  height: 10%;
  text-align: center;
  margin-top: 15%;
}

#themebutton {
  background-color: transparent;
  border: none;
  height: 10em;
  width: 10em;
  margin: -30px;
  justify-self: flex-start;
}

#themebutton img {
  width: 100%;
  height: 100%;
  transition: transform.4s;
  margin: -30px;
}

#themebutton img:hover {
  transform: scale(1.13);
}

#themebutton:active {
  transform: translateY(4px);
}

#darkbackground {
  background: url(UI/bg1.png);
}

#lightbackground {
  background: url(UI/bg2.png);
}

#listAward {
  margin-top: 5em;
  margin-bottom: 10em;
}
